{% extends "base.html" %}
{% block title %}Holdings - OpenPortfolio{% endblock %}
{% block content %}
<h2>Holdings</h2>
<p>
  Klant: <strong>{{ selected_client.name if selected_client else '-' }}</strong><br>
  Portefeuille: <strong>{{ selected_portfolio.name if selected_portfolio else '-' }}</strong>
</p>
{% if selected_portfolio %}
<table>
  <thead>
    <tr><th>Instrument ID</th><th>Naam</th><th>Type</th><th>Valuta</th><th>Aantal/Nom.</th><th>Laatste koers</th><th>Acties</th></tr>
  </thead>
  <tbody>
    {% if selected_portfolio.securities_account and selected_portfolio.securities_account.holdings %}
      {% for h in selected_portfolio.securities_account.holdings %}
      <tr>
        <td>{{ h.product.instrument_id }}</td>
        <td>{{ h.product.description }}</td>
        <td>{{ h.product.__class__.__name__ }}</td>
        <td>{{ h.product.issue_currency }}</td>
        <td class="valuta">{{ format_currency(h.amount, h.product.issue_currency) }}</td>
        <td class="valuta">{{ format_currency(h.last_price, h.product.issue_currency) }}</td>
        <td>
          <a class="button" href="/transactions/new?client_id={{ selected_client.client_id }}&portfolio_id={{ selected_portfolio.portfolio_id }}&product_id={{ h.product.instrument_id }}&template=BUY&return_to=holdings">B</a>
          <a class="button" href="/transactions/new?client_id={{ selected_client.client_id }}&portfolio_id={{ selected_portfolio.portfolio_id }}&product_id={{ h.product.instrument_id }}&template=SELL&return_to=holdings">S</a>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="6">Geen holdings voor deze portefeuille.</td></tr>
    {% endif %}
  </tbody>
</table>
{% endif %}
{% endblock %}
